.slider{
  float: left;
  width: 100%;

  .slider-slide-wrap{
    float: left;
    width: 100%;
    overflow: hidden;

    #slide{
      position: relative;
      float: left;
      width: 100%;
      height: 1200px;

      .slide-img-piece{
        overflow: hidden;
        float: left;
        width: 33.3%;
        height: 50%;
        position: relative;

        .slide-img{
          background-image: url(../img/bg.jpg);
          position: absolute;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-transition: -webkit-transform 1s ease-out;
          transition: transform 1s ease-out;
          transform: rotateY(0deg);

          &.active{
            -webkit-transition: -webkit-transform 1s ease-out;
            transition: transform 1s ease-out;
            transform: rotateY(-180deg);
          }
        }
      }
    }
  }
}