.slider{
  float: left;
  width: 100%;

  .slider-slide-wrap{
    float: left;
    width: 100%;
    overflow: hidden;

    #slide{
      position: relative;
      float: left;
      width: 100%;
      height: 1200px;

      .slide-img-piece{
        overflow: hidden;
        float: left;
        width: 33.3%;
        height: 50%;
        position: relative;
        -webkit-transition: -webkit-transform 1s ease-out;
        transition: transform 1s ease-out;
        transform: rotateY(0deg);

        .slide-img{
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;
          opacity: 1;

          &.active {
              -webkit-transition: opacity 1s ease-out;
              transition: opacity 1s ease-out;
              opacity: 0;
          }
        }

        .slide-img-back{
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;
          opacity: 0;

          &.active {
            -webkit-transition: opacity 1s ease-out;
            transition: opacity 1s ease-out;
            opacity: 1;
          }
        }
      }
    }
  }
}